---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import CodeIcon from "../components/icons/Code.astro";
import ProfileCheckIcon from "../components/icons/ProfileCheck.astro";
import Hero from "../components/Hero.astro";
---

<Layout
  title="Portafolio de Iván - Desarrollador Web y Aplicaciones Android"
  description="Contrata a Iván Alba, un desarrollador web y aplicaciones Android. Explora mi portafolio y contacta conmigo para llevar tus proyectos al siguiente nivel."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>

    <div class="space-y-24">
      <!-- <SectionContainer id="experiencia">
		<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
      <BriefcaseIcon class="size-7" />
      Experiencia
    </h2>
    <Experience />
	</SectionContainer> -->

      <SectionContainer id="proyectos">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <CodeIcon class="size-7" />
          Proyectos
        </h2>
        <Projects />
      </SectionContainer>

      <SectionContainer id="sobre-mi">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
        >
          <ProfileCheckIcon class="size-8" />
          Sobre mí
        </h2>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
