<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo José Iván ALba García pero mis amigos me llaman Iván. Empecé con
      la programación en la preparatoria, tenía 16 años. Actualmente <strong
        >he finalizado mi carrera universitaría</strong
      >.
    </p>

    <p>
      Aunque no he empezado en el mundo laboral <strong
        >he participado en diferentes proyectos</strong
      > durante mi trayectoria universitaria. Destacando proyectos en el <strong
        >desarrollo de Aplicaciones Web y Android</strong
      > dirigidos a diferentes sectores como son el <strong
        >social, educativo y gubernamental</strong
      >. Esto me ayudó a ampliar mi conocimiento en proyectos más reales y que
      puedan ayudar a la sociedad.
    </p>

    <p>
      Como integrante de equipo, he tomado el rol de <strong
        >programador principal</strong
      >. Desarrollando mis aptitudes de <strong
        >comunicación y aportación de ideas</strong
      >. Mi objetivo es seguir mejorarando mis habilidades en el área Web y
      Android.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.webp"
    alt="Foto personal"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
