---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Febrero 2024 - Julio 2024",
    title: "Practicante profesional",
    company: "Grupo MAPER",
    description:
      "Durante mi residencia profesional, desarrollé una aplicación web para la Escuela Secundaria Técnica Industrial No. 97 como parte del sistema SISADESC, mejorando la comunicación entre padres y la institución. Diseñé e implementé una interfaz eficiente para acceder a calificaciones, asistencia y eventos, asegurando que la plataforma fuera accesible y responsiva en diferentes dispositivos.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
